<center><h1>Lightning-Talk Recap</h1>


<h3>Nightmare js</h3>
<div class="btn-group">
  <button type="button" class="btn btn-success">Nightmare</button>
  <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <span class="caret"></span>
    <span class="sr-only">Toggle Dropdown</span>
  </button>
  <ul class="dropdown-menu">
    <li><a href="http://slides.com/harlem/nightmare-js#/">Slides</a></li>
    <li><a href="https://github.com/segmentio/nightmare">Nightmare.js Github</a></li>
  </ul>
</div>

<h3>Semantic Learning</h3>
<div class="btn-group">
  <button type="button" class="btn btn-info">Semantics</button>
  <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <span class="caret"></span>
    <span class="sr-only">Toggle Dropdown</span>
  </button>
  <ul class="dropdown-menu">
    <li><a href="http://slides.com/jontejada/semver#/">Slides</a></li>
    <li><a href="http://semver.org/">Semantic docs</a></li>
  </ul>
</div>
<script src="/bootstrap/js/bootstrap.js"></script>
<script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-dropdown.js"></script>










